
<div class="ui dividing header column ui grid">
  <div class="twelve wide column">
    <h2 class="ui header">Fill out the form to suggest a bar</h2>
  </div>
  <div class="two wide column">
    <%= link_to "Back", root_path %>
  </div>
</div>

  <%= form_tag("/bars/new", {class:"ui form", id:"add-form"}) do %>
    <div class="fields">
      <div class="six wide field">
        <%= text_field_tag :city, "", placeholder: "Enter City" %>
      </div>
      <div class="six wide field">
        <%= text_field_tag :name, "", placeholder: "Enter Bar" %>
      </div>
      <div class="four wide field">
        <button type="submit" class="ui submit button" id="find-button">Find</button>
      </div>
    </div>


  <% end %>

<div id="showList" class="ui modal">
  
</div>

<div class="ui grid">
  <div class="six wide column">
    <div id="barDetails"></div>
  </div>
  <div class="ten wide column">
    <div id="teamInput">


    </div>
  </div>
</div>
