/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0em 15em;
  background-image: url("background1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden{visibility:hidden}

#button {
  padding: 10em;
}

#map-canvas {
  min-width: 200px;
  width: 80%;
  min-height: 200px;
  height: 80%;
  border: 1px solid #ddd;
  margin-top: 20px;
}

  #search-form{
    // position: absolute;
 //   top: 20px;
 //   left: 282px;
 //   z-index: 1;
    background-color: red;
  }

 .bar {
   width: 100%;
   display:block;
 }

 .content.active{
   background-color: #00E600;
  }

  #barDetails .button{
    width: 100em
  }

 // #showList{
 //   postion:absolute;
 //  }

 // .pull-right{
 //   float:right;
 // }

 // #teamInput input{
 //   width: 450px;

 // }

 // #teamInput button{
 //     border-top-left-radius: 0px;
 //     border-bottom-left-radius: 0px;
 //     float: right;
 //     margin-right: -30;
 //     margin-right: -85px;
 //     margin-top: -37px;
 // }

  .teamForm.ui.secondary.segment {
      margin-bottom: 20em;
      margin-top: 1.5em;
      height: 30.5em;
  }

 .ui.basic.teal.button {
   position: absolute;
   bottom: 0em;
   right: 0em;
 }

  h1.ui.dividing.header {
   font-family:'Alfa Slab One';
   color: #BF1919;
  //  text-shadow: -1em 0 black, 0 1em black, 1em 0 black, 0 -1em black;
  }


  body > div.ui.secondary.segment {
    background-color: rgba(255,255,255,0.8);
    width: 50em;
  }

  body > div.ui.secondary.segment *{
   opacity:1;
  }

  body > div.ui.secondary.segment a {
    color: #B20000;
  }

 #add-form > div.fields > div.four.wide.field > button {
   background-color: #B20000;
   color: white;
  }

 // #back-link {
 //   margin-right: 20px;
 // }

  #bar-search-form > button {
    background-color: #B20000;
  }

 // #find-button {
 //   position:absolute;
 //   bottom: 14px;
 // }
